nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: monospace;
}

ul.menu__items {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  &__items {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: monospace;
  }
  &__item {
    list-style: none;
    position: relative;
  }
}

.logo {
  position: absolute;
  left: 0;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px 0;
}
.menu__link {
  position: relative;
}
.menu__link::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 51%;
  transition: all 0.7s ease;
}
.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.menu__link-active::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  transition: all 0.7s ease;
  left: 0;
}
